
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  header {
    text-align: center;
    background-color: #7dc6bf;
    color: #fff;
    padding: 10px 0;
  }
  
  h1, h2 {
    margin-bottom: 10px;
    text-align: center;
  }
  
  .cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 3fr));
    gap: 20px;
    justify-items: center;
  }
  
  .card {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
  }
  
  button {
    text-align: center;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #009688;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
  }
  
  button:hover {
    background-color: #325245;
  }
  
  ul#carrito {
    list-style: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  ul#carrito li {
    margin-bottom: 5px;
  }
  
  
  .alert {
    background-color: #ffcc80;
    color: #d84315;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  
  #limpiarBtn {
    background-color: #d32f2f;
  }
  
  #limpiarBtn:hover {
    background-color: #7e1616;
  }
  